body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.sidebar {
  position: fixed;
  height: 100%;
  width: 100px;
  left: 0px;
  top: 100px;
  background: #373b53;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divider {
  position: absolute;
  width: 100%;
  top: 550px;
  height: 3px;
  background-color: #494e67;
}

.icon-folder {
  margin-top: 54px;
}

.icon-statistic {
  margin-top: 10px;
}

.icon-file {
  margin-top: 24px;
}

.logo {
  width: 80px;
}

.icon-settings {
  margin-top: 340px;
}

.main-topbar {
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  height: 100px;
  top: 0;
  margin-left: 92px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.rectangle {
  position: fixed;
  width: 100px;
  height: 100px;
  left: 0px;
  top: 0px;
  right: 0px;
  background: #6f52ed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  border-style: none;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #a6acbe;
}

.search {
  display: flex;
  justify-content: center;
  margin-left: 66px;
}

.user-details {
  display: flex;
  margin-left: 45%;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.user-name {
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.01em;
  color: #000000;
}

.user-role {
  margin-top: 3px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  letter-spacing: 0.01em;
  color: #a6acbe;
}

.divider-topbar {
  position: fixed;
  width: 1px;
  height: 60px;
  margin-left: 10px;
  background-color: #494e67;
}

.topbar-functions {
  display: flex;
  width: 300px;
  justify-content: space-around;
}

.story {
  margin-top: 150px;
  margin-left: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.story-head {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  margin-bottom: 0;
}

.story-about {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
}

.add-election-container {
  position:fixed;
  margin-left: 75%;
}

.add-election-btn {
  background: #6f52ed;
  border-radius: 5px;
  border-style: none;
  width: 180px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.add-election-p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.01em;
  margin-left: 10px;

  color: #ffffff;
}

.election-item-container {
  display: flex;
  align-items: center;
  padding: 0.5rem 1 rem;
  border: 1px solid #ccc;
  border-radius: 7px;
  margin-bottom: 0.5rem;
  background-color: #373b53;
  margin-left: 70px;
  height: 85px;
  width: 90%;
}

.election-item {
  display: flex;
  align-items: center;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 17px;
}

.election-item-name {
  margin-left: 10px;
  width: 600px;
  font-size: 20px;
}

.election-item-startDate {
  margin-left: 140px;
  width:750px;
}

.delete-icon {
  margin-left: 50px;
  color: #c62828;
}



.election-item-endDate {
  margin-left: 50px;
}
